<br>
<div id="first">
  <div class="row" style="margin-top:13%;">
    <div class="col-md-6" >
    <div style="margin-left: 80px;">
      <img src={{imagePath}} style="height: 270px; width: 526px;">
    </div>
  </div>
  <div class="col-md-6">
  <div class="myform form ">
       <div class="col-md-12 text-center"> 
        <h1> <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
          <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
          <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
        </svg>  GİRİŞ YAP</h1>
       </div>
      
         <form #form='ngForm' class="mb-4" autocomplete="off" (submit)="onSubmit(form)">
          <div class="form-group">
            <label>Kullanıcı adı</label>
            <input class="form-control" #UserName="ngModel" name="UserName" [(ngModel)]="formModel.UserName" required>
          </div>
          <div class="form-group">
            <label>Şifre</label>
            <input type="password" class="form-control" #Password="ngModel" name="Password" [(ngModel)]="formModel.Password" required>
          </div>
          <div class="row">
            <div class="form-group col-md-6 ">
              <button type="submit" class="btn btn-lg btn-block" [disabled]="form.invalid" >Giriş yap</button>
            </div>
            <div class="form-group col-md-6 ">
              <a role="button" class="btn btn-lg " href="signup" >Üye ol</a>
            </div>
          </div>
        </form> 
    </div></div>
   </div>
  </div>
