<div class="modal-header">
    <h2 class="modal-title">MÜŞTERİ ATA</h2>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
  
<div class="modal-body">
   <div class="dx-field">
    <div class="dx-field-label">Müşteri temsilcisi seçiniz:</div>
      <div class="dx-field-value">
        
        <dx-select-box
            [(ngModel)]="employeeName"
            [items]="myList"  
            placeholder="Müşteri temsilcileri"
            [searchEnabled]="true"
            [showClearButton]="true">
      </dx-select-box>
     </div>
  </div>
</div>


<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="Assign()">Kaydet</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Kapat</button>
</div>





<!-- [items]="simpleProducts" -->