/* footer{
    position: relative;
    clear:both;
} */
footer {
  position: relative;
  /* position: absolute; */
  bottom: 0;
  /* width: calc(100% - 225px); */
  width: 100%;
  background-color: #DADADA;
}

