<nav class="navbar navbar-light" style="background-color: #ED1B2E;">
  <div class="container">
              <ul class="navbar-nav">
                <li>
                    <div class="dx-field-value">
                      <!-- margin-left: 700px; -->
                    <dx-drop-down-button
                      style="background-color:white;margin-left: 700px; position: relative;"
                      [useSelectMode]="false"
                      text={{profileName}} 
                      icon="aligncenter"
                      [items]="profileSettings"
                      displayExpr="name"
                      keyExpr="id"
                      (onItemClick)="onItemClick($event)"></dx-drop-down-button>
                  </div>
                </li>
              </ul>
    </div>
</nav>
